<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.menu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".data.backup.BackupService"
            android:stopWithTask="false" />

        <receiver
            android:name=".internetconnection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.screens.login.LoginActivity"
            android:label="Log in" />
        <activity
            android:name=".user.screens.register.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".user.screens.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.screens.login.LoginActivity" />
        </activity>
        <activity android:name=".menuplanning.screens.products.addOrEdit.AddOrEditProductActivity" />
        <activity android:name=".menuplanning.screens.meals.addOrEdit.AddOrEditMealActivity" />
        <activity
            android:name=".menuplanning.screens.meals.addOrEdit.ChooseFromProductsActivity"
            android:parentActivityName=".menuplanning.screens.meals.addOrEdit.AddOrEditMealActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menuplanning.screens.meals.addOrEdit.AddOrEditMealActivity" />
        </activity>
        <activity
            android:name=".menuplanning.screens.menus.addOrEditMenu.dailyMenu.chooseMeals.ChooseFromMealsActivity"
            android:parentActivityName=".menuplanning.screens.menus.addOrEditMenu.dailyMenu.CreateNewDailyMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menuplanning.screens.menus.addOrEditMenu.dailyMenu.CreateNewDailyMenuActivity" />
        </activity>
        <activity
            android:name=".shoppinglist.screens.ShowProductsInListActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".menuplanning.screens.menus.addOrEditMenu.DailyMenusActivity"
            android:label="Daily menus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.menu.MainActivity" />
        </activity>
        <activity
            android:name=".menuplanning.screens.menus.addOrEditMenu.dailyMenu.CreateNewDailyMenuActivity"
            android:label="Create new daily menu" />
        <activity
            android:name=".virtualfridge.screens.AddProductActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".data.backup.screens.RestoreBackupActivity"></activity>
    </application>

</manifest>